.main {
	min-height: 100vh;
	font-size: 16px;
	font-family: "Space Grotesk", sans-serif;
	color: #2b2b2b;
	background: linear-gradient(to top, #f5f3f7, #e9e6ee);
	box-shadow: inset 0 0 100px rgba(255, 0, 0, 0.1);
}

/* Layout */
.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1200px;
	margin: 1rem auto 0;
	padding: 0 1rem 1rem;
}

/* Table */
.table {
	width: 100%;
	border: 1px solid #2b2b2b;
	border-collapse: collapse;
}

.table tr {
	border-bottom: 1px solid #2b2b2b;
}

.table th,
.table td {
	border-left: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	text-transform: capitalize;
}

.table th {
	height: 50px;
	padding: 0;
}

/* Search */
.searchContainer {
	align-self: flex-end;
	margin-bottom: 1rem;
}

.searchContainer input {
	margin-left: 1rem;
	padding: 8px;
	font-size: 16px;
	font-family: "Space Grotesk", sans-serif;
	color: #2b2b2b;
	border: 1px solid #2b2b2b;
}

/* Navigation */
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	width: 100%;
	margin-top: 1rem;
}

/* Button */
.detailsButton {
	padding: 8px 12px;
	font-size: 15px;
	font-family: "Space Grotesk", sans-serif;
	color: #fff;
	background-color: #5b4b8a;
	border: 1px solid #5b4b8a;
	cursor: pointer;
}

/* Modal */
.pokeModal {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.pokeModal h1 {
	margin: 4px 0;
	font-size: 26px;
	text-transform: capitalize;
}

.pokeModal p {
	margin: 0;
}
